## Ignores all Visual Studio 2015 files except the basic one.
src/VS/*
!src/VS/_ClearTempFiles.bat
!src/VS/*.vcxproj
!src/VS/*.vcxproj.user
!src/VS/*.vcxproj.filters
!src/VS/*.sln

## Ignores output of examples in 01_DamBreak.
examples/main/06_Wavemaker_old/CaseWavemaker*out*
examples/main/06_Wavemaker/CaseWavemaker*out*
examples/main/06_Wavemaker2D/CaseWavemaker*out*
examples/main/07_WavemakerFile/CaseWavemaker2D*out*
examples/main-GPU
examples/main

## Ignores other directories.
__Tools__
_out_UpdateHelp
_out_CompileLinux

## Ignores temporary files.
bin/windows/*.iobj
bin/windows/*.ipdb
backup
examples/main-GPU/02_Shipsail/.vs/02_Shipsail/v15/.suo
*.bi4
*.vtk
*.csv
*.out
*.ibi4
*.obi4
*.sh
